@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
html body {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  height: 100%;
  font-weight: 1000;
}
html body header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  position: sticky;
  top: 0;
  height: 10%;
  margin: 2rem;
}
html body header .logoGodo {
  width: 230px;
  cursor: pointer;
  height: auto;
}
html body header .logoGodo:hover {
  transform: scale(1.1);
}
html body .cajaFondo {
  background-color: #bfd700;
  margin-bottom: 5%;
}
html body .whatsappIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
html body .whatsappIcon:hover {
  transform: scale(1.1);
}

section footer {
  background-color: white;
  display: flex;
  padding: 30px 10%;
  justify-content: center;
  text-align: center;
}
section footer .foot {
  cursor: pointer;
}

.boton {
  text-decoration: none;
  background-color: white;
  padding: 7px 22px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  margin: 1rem;
  width: 150px;
  height: 40px;
}

.botonContactos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

section .contenedorFormulario {
  display: flex;
  box-sizing: 100%;
  justify-content: center;
  padding: 0 5%;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}
section .infoContacto {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}

h1 {
  display: flex;
  margin: 1rem auto;
  color: #2a2074;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  display: flex;
  margin: 1rem auto;
  color: #fa8220;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

h3 {
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
}

.titleContacts {
  display: flex;
  margin: 15px 15px;
  text-align: center;
  width: 100%;
}

.titleContainers {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titulosHome {
  color: white;
}

/* CONTENIDO PORTFOLIO */
.gallery-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.gallery-item img {
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* GRAFICA SERVICIOS FLEX GRID AREA */
.grillaServicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  border: none;
  padding: 10px;
  text-align: center;
  margin: 10%;
}

.imgServ {
  width: 140px;
}

/* LAYOUT MOBILE */
@media (max-width: 768px) {
  .grillaServicios {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgServ {
    width: 100px;
  }
  .descripcionServ {
    font-size: 1.3rem;
  }
}
/*  GRAFICA HISTORIA */
.tituloHistoria,
.team,
.historia {
  justify-content: center;
  text-align: center;
  padding: 0 10% 5%;
}

.fotoTeam1,
.fotoTeam2 {
  width: 150px;
  height: 150px;
  margin: 50px;
  display: inline-block;
}

header {
  z-index: 5;
}

/* GRAFICA SERVICIOS FLEX GRID AREA */
.grillaServicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  border: none;
  padding: 10px;
  text-align: center;
  margin: 10%;
}

.imgServ {
  width: 140px;
}

/* LAYOUT MOBILE */
@media (max-width: 768px) {
  .grillaServicios {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgServ {
    width: 100px;
  }
  .descripcionServ {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
