@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
html body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  height: 100%;
  font-weight: bolder;
}
html body header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  position: sticky;
  top: 0;
  height: 10%;
  margin: 2rem;
}
html body header .logoGodo {
  width: 230px;
  cursor: pointer;
  height: auto;
}

section footer {
  background-color: white;
  display: flex;
  padding: 30px 10%;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}
section footer .container {
  width: 100%;
}
section footer .foot {
  cursor: pointer;
}

.buttonSubmit,
.buttonReset,
.servicioBoton,
.botoncontHome {
  background-color: #bfd700;
  padding: 7px 22px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

/* GRAFICA BOTON VOLVER INICIO */
.buttonIndex {
  background-color: #bfd700;
  padding: 8px 22px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  color: black;
  margin-left: 3%;
}

section .contenedorFormulario {
  display: flex;
  box-sizing: 100%;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
}
section .infoContacto {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  display: flex;
  margin: 1rem;
  color: #2a2074;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

h2 {
  display: flex;
  margin: 1rem;
  color: #fa8220;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

h3 {
  justify-content: center;
  text-align: center;
}

.titleContacts {
  display: flex;
  margin: 15px 15px;
  text-align: center;
  width: 100%;
}

.titleContainers {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* CONTENIDO PORTFOLIO */
main .porfolio {
  justify-content: center;
  text-align: center;
}
main .landinPage {
  width: 500px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}
main .videoCami {
  margin: 20px;
  border-radius: 10px;
}
main .textoPorfolio {
  margin: 20px;
  padding: 20px;
}
main .fotoProducto {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}

/* GRAFICA SERVICIOS FLEX GRID AREA */
main .contenedorServicios {
  gap: 60px;
  margin: 5% 25%;
}
main .imgCarousel {
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/*  GRAFICA HISTORIA */
.tituloHistoria,
.team,
.historia {
  justify-content: center;
  text-align: center;
  padding: 0 10% 5%;
}

.fotoTeam1,
.fotoTeam2 {
  width: 150px;
  height: 150px;
  margin: 50px;
  display: inline-block;
}

div#nav a:hover {
  background-color: #bfd700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  border-radius: 50px;
}

li {
  display: inline-table;
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

div#nav li ul {
  display: none;
}

div#nav li:hover ul {
  display: block;
  position: absolute;
  z-index: 5;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 0 0 -1px;
  border-radius: 5px;
  background: #bfd700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header {
  z-index: 5;
}

/* GRAFICA SERVICIOS FLEX GRID AREA */
main .contenedorServicios {
  gap: 60px;
  margin: 5% 25%;
}
main .imgCarousel {
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/*# sourceMappingURL=estilo.css.map */
