/*GRAFICA GENERAL */
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.logoGodo {
    width: 230px;
    cursor: pointer;
    height: auto;
}

/* header .logoGodo:hover {
    width: 250px;
} */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    position: sticky;
    top: 0;
    height: 10%;
    margin: 2rem;
}

/* ESTILO BOTONES NAV CON CURSOR ENCABEZADO*/
div#nav a:hover {
    background-color: #bfd700;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    border-radius: 50px;
}

li {
    display: inline-table;
    font-size: 1.2rem;
    color: black;
    margin: 0.5rem 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

div#nav li ul {
    display: none
}

div#nav li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 0 -1px;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menuTendina {
    font-size: 2rem;
}

/* TITULOS */
h1 {
    margin: 1rem;
    color: #2a2074;
    text-align: center;

}

h2 {
    margin: 1rem;
    color: #fa8220;
    text-align: center;
}

/* GRAFICA PIE DE PAGINA */
footer {
    background-color: white;
    display: flex;
    padding: 30px 10%;
    justify-content: center;
}

.Footer {
    cursor: pointer;
}

/* GRAFICA FORMULARIO DE CONTACTO Y BOTON INFO SERVICIOS*/
.buttonSubmit,
.buttonReset,
.servicioBoton {
    background-color: #bfd700;
    padding: 7px 22px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.formGroup {
    display: grid;
    gap: 10px;
}

.formGroup label {
    grid-column: 1 / span 2;
}

#servicios{
    background-color: #bed7002f;
}

/* GRAFICA HOME */
.titleContacts {
    margin: 15px 15px;
    text-align: center;
}

.titleContainers {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* SLIDE DESCRIPCION HOME */
.groupHome {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.title1 {
    width: 400px;
    height: 100px;
    margin: 15px 15px;
    border-radius: 50px;
}

/* GRAFICA BOTON VOLVER INICIO */
.buttonIndex {
    background-color: #bfd700;
    padding: 8px 22px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
    margin-left: 3%;
}

/* CONTENIDO PORTFOLIO */
.porfolio {
    justify-content: center;
    text-align: center;
}

.landinPage {
    width: 500px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
}

.videoCami {
    margin: 20px;
    border-radius: 10px;
}

.textoPorfolio {
    margin: 20px;
    padding: 20px;
}

.fotoProducto {
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
}

/*  GRAFICA HISTORIA */
.tituloHistoria,
.team,
.historia {
    justify-content: center;
    text-align: center;
    padding: 0 10% 5%;
}

.fotoTeam1,
.fotoTeam2 {
    width: 150px;
    height: 150px;
    margin: 50px;
    display: inline-block;
}

/* GRAFICA SERVICIOS FLEX GRID AREA */

.contenedorServicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 5% 25%;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.servicioImagen {
    height: 180px;
    object-fit: contain;
    border-radius: 100%;
    margin-bottom: 20px;
}

.servicioTitulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.servicioDescripcion {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}