// GRAFICA BOTONES
.buttonSubmit,
.buttonReset,
.botoncontHome,
.buttonIndex {
  text-decoration: none;
  background-color: $bgBoton;
  padding: $padBoton;
  border: none;
  border-radius: 50px;
  font-size: $fontSizeBoton;
  color: $colorBoton;
  cursor: pointer;
  margin: 1rem;
  width: 150px;
  height: 40px;
}

.botoncontHome,
.buttonSubmit {
  background-color: white;
  color: black;
}


// HOVER A BOTONES

.botoncontHome:hover,
.botoncontHome:hover,
.buttonIndex:hover,
.buttonReset:hover,
.buttonSubmit:hover {
  width: 155px;
  height: 42px;
}
