// GRAFICA BOTONES
.boton {
  text-decoration: none;
  background-color: $bgBoton;
  padding: $padBoton;
  border: none;
  border-radius: 50px;
  font-size: $fontSizeBoton;
  color: $colorBoton;
  cursor: pointer;
  margin: 1rem;
  width: 150px;
  height: 40px;
}

.botonContactos {
  display: flex;
  justify-content: center;
  align-items: center;
}

// HOVER A BOTONES

.boton:hover {
  transform: scale(1.1);
}