section {

    footer {
        background-color: white;
        display: flex;
        padding: 30px 10%;
        justify-content: center;
        text-align: center;
        margin: 1 auto;

        .foot {
            cursor: pointer;
        }
    }
}