section {
    .contenedorFormulario {
        display: flex;
        box-sizing: 100%;
        justify-content: center;
        width: 100%;
        padding: 0 5%;
    }

    .infoContacto {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
