section {
    .contenedorFormulario {
        margin: auto;
        display: flex;
        box-sizing: 50%;
        justify-content: center;
    }

    .infoContacto {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
