* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html {
    height: 100%;

    body {
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        background-color: whitesmoke;
        height: 100%;
        font-weight:1000;

        header {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 8%;
            position: sticky;
            top: 0;
            height: 10%;
            margin: 2rem;

            .logoGodo {
                width: 230px;
                cursor: pointer;
                height: auto;
            }
            .logoGodo:hover {
                transform: scale(1.1);
            }
        }
        .cajaFondo {
            background-color: #bfd700;
            margin-bottom: 5%;
        }
        .whatsappIcon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 5;
        }
        .whatsappIcon:hover {
            transform: scale(1.1);
        }
        
    }
}