/*  GRAFICA HISTORIA */
.tituloHistoria,
.team,
.historia {
    justify-content: center;
    text-align: center;
    padding: 0 10% 5%;
}

.fotoTeam1,
.fotoTeam2 {
    width: 150px;
    height: 150px;
    margin: 50px;
    display: inline-block;
}