@mixin estiloBoton {
    text-decoration: none;
    background-color: white;
    padding: 7px 22px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    margin: 1rem;
    width: 150px;
    height: 40px;
  }
