/* CONTENIDO PORTFOLIO */
main {
    .porfolio {
        justify-content: center;
        text-align: center;
    }

    .landinPage {
        width: 500px;
        height: 400px;
        margin: 20px;
        border-radius: 10px;
    }

    .videoCami {
        margin: 20px;
        border-radius: 10px;
    }

    .textoPorfolio {
        margin: 20px;
        padding: 20px;
    }

    .fotoProducto {
        width: 400px;
        height: 400px;
        margin: 20px;
        border-radius: 10px;
    }
}