/* GRAFICA SERVICIOS FLEX GRID AREA */

main {
    .contenedorServicios {
        gap: 60px;
        margin: 5% 25%;
    }
    .imgCarousel {
        justify-content: center;
        align-items: center;
        width: fit-content;

    }
}