h1 {
    display: flex;
    margin: 1rem auto;
    color: $colorTitulo1;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight:800;
    font-size: 3rem; 
}

h2 {
    display: flex;
    margin: 1rem auto;
    color: $colorTitulo2;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

h3 {
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
}

.titleContacts {
    display: flex;
    margin: 15px 15px;
    text-align: center;
    width: 100%;
}

.titleContainers {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulosHome {
    color: white;
}
