// BOTONES 
$bgBoton: #bfd700;
$padBoton: 7px 22px;
$fontSizeBoton: 1rem;
$colorBoton: white;
$bgBotonHover: #a1b600;
$padBotonHover: 8px 23px;
$fontSizeBotonHover: 1rem;
$colorBotonHover: white;

// TITULOS

$colorTitulo1: #2a2074;
$colorTitulo2: #fa8220;

// TEXTO

$colorTexto: white;